<form [formGroup]="ciFormGroup" class="ci-service-form"
      fxLayout="column wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
  <mat-form-field>
    <mat-label>CI/CD Service</mat-label>
    <mat-select formControlName="ciService">
      <mat-option value="">-- None --</mat-option>
      <mat-option value="AzureDevOps">Azure DevOps</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="project && project.azureDevOps">
    <mat-form-field>
      <mat-label>Azure Project Url</mat-label>
      <input matInput formControlName="azureProjectUrl" placeholder="Ex: https://dev.azure.com/{organization}/{project}"
             [(ngModel)]="project.azureDevOps.url" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Azure Username</mat-label>
      <input matInput formControlName="azureUsername" placeholder="Azure Username"
             [(ngModel)]="project.azureDevOps.username" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Azure Access Token</mat-label>
      <input matInput formControlName="azurePersonalAccessToken" placeholder="Azure Personal Access Token"
             [(ngModel)]="project.azureDevOps.accessToken" required>
    </mat-form-field>
  </ng-container>
</form>
