/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon-collapsed {
  font-size: 20px;
  color: green;
}

.icon-expanded {
  font-size: 20px;
  color: red;
}

.statusFailed {
  background-color: rgb(255, 63, 63);
}

@keyframes colorInProgress {
  0%   { background-color: rgb(63, 63, 255);    }
  50%  { background-color: rgb(250, 250, 255);  }
  100% { background-color: rgb(63, 63, 255);    }
}

.statusInProgress {
  animation-name: colorInProgress;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.statusInQueue {
  background-color: white;
}

.statusSuccess {
  background-color: rgb(31, 191, 31);
}

.statusCanceled {
  background-color: grey;
}

.statusNoStatus {
  background-color: transparent;
}

.status-cell {
  height: 1px;

  div {
    padding: 0 5px 0 5px;
    height: 100%;

    p {
      text-align: center;
    }
  }
}
