<h2 mat-dialog-title>Trigger A New Build</h2>

<mat-dialog-content class="mat-typography">
  <form *ngIf="project && form" [formGroup]="form" class="new-build-form"
        fxLayout="column wrap" fxLayoutAlign="start start" fxLayoutGap="10px">
    <mat-form-field>
      <mat-label>Branch</mat-label>
      <input matInput formControlName="branch" placeholder="Branch to trigger" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Commit</mat-label>
      <input matInput formControlName="commit" placeholder="Commit to trigger" required>
    </mat-form-field>
    <section class="checkbox">
      <mat-checkbox (change)="showVariables($event)" [checked]="true">Use default variables</mat-checkbox>
    </section>
    <variables *ngIf="!useDefaultVariables && variables" [variables]="variables" [form]="form"></variables>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!form?.valid" (click)="trigger()">Trigger</button>
</mat-dialog-actions>

