.variables-table {
  width: 100%;

  mat-form-field {
    font-size: 14px;
    margin-right: 20px;
    width: calc(100% - 20px);
  }

  .variable-cell {
    width: 50%;
  }

  .actions-cell {
    width: 10%;
  }
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
