<ng-container *ngIf="variables && form" [formGroup]="form">
  <mat-label>Variables</mat-label>

  <table mat-table #variableTable formArrayName="variables" class="variables-table" [dataSource]="variablesDataSource">
    <ng-container matColumnDef="key">
      <th mat-header-cell *matHeaderCellDef class="variables-cell">Key</th>
      <td mat-cell *matCellDef="let i=index" [formGroupName]="i">
        <mat-form-field floatLabel="never">
          <input matInput placeholder="Key" formControlName="key" required>
        </mat-form-field>
      </td>
      <td mat-footer-cell *matFooterCellDef>
      </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef class="variables-cell">Value</th>
      <td mat-cell *matCellDef="let i=index" [formGroupName]="i">
        <mat-form-field floatLabel="never">
          <input matInput placeholder="value" formControlName="value" required>
        </mat-form-field>
      </td>
      <ng-container *ngIf="addable">
        <td mat-footer-cell *matFooterCellDef>
        </td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="actions-cell"></th>
      <td mat-cell *matCellDef="let i=index">
        <button mat-mini-fab color="warn" (click)="removeVariable(i)">
          <mat-icon>remove</mat-icon>
        </button>
      </td>
      <ng-container *ngIf="addable">
        <td mat-footer-cell *matFooterCellDef>
          <button mat-mini-fab color="primary" (click)="addVariable()">
            <mat-icon>add</mat-icon>
          </button>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i=index"></tr>
    <ng-container *ngIf="addable">
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </ng-container>
  </table>
</ng-container>
