<mat-nav-list class="sidebar">
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/projects" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>folder_open</mat-icon> All Projects
  </a>
  <a *ngIf="allowCreatingProject()" mat-list-item routerLinkActive="list-item-active" routerLink="/projects/create">
    <mat-icon>add</mat-icon> New Project
  </a>
  <mat-divider></mat-divider>
  <div class="divider-spacing"> </div>

  <mat-expansion-panel [expanded]="true" class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>Projects</mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template ngFor let-item [ngForOf]="sidebarService.getItems()">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="{{ item.routerLink }}">
        <mat-icon>folder_open</mat-icon> {{ item.name }}
      </a>
    </ng-template>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
</mat-nav-list>
