.procedure-table {
  width: 100%;

  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type {
    padding-left: 30px;
  }

  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type {
    padding-right: 30px;
  }

  th, td {
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
  }

  .status-cell {
    height: 1px;

    div {
      padding: 0 5px 0 5px;
      height: 100%;

      p {
        text-align: center;
      }
    }
  }
}

