<div class="mat-elevation-z8">
  <table class="procedure-table" *ngIf="peDataSource" mat-table [dataSource]="peDataSource">
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef> Start Time </th>
      <td mat-cell *matCellDef="let pe">{{ pe.timestamp | date:"MM/dd/yyyy HH:mm:ss" }}</td>
    </ng-container>

    <ng-container *ngFor="let col of displayedColumns | slice : 1 : -2" matColumnDef="{{ col }}">
      <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
      <td mat-cell *matCellDef="let pe">
        <div fxLayout="column">
          <p fxFlex="100%">{{ pe[col] }}</p>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let pe" class="status-cell">
        <div fxLayout="column" class="{{ pe.status | status }}">
          <p fxFlex="100%">{{ pe.status }}</p>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let pe">
        <a mat-icon-button *ngIf="pe.downloadLink" [href]="pe.downloadLink" title="Download">
          <mat-icon>cloud_download</mat-icon>
        </a>
        <a mat-icon-button *ngIf="pe.consoleLog" [href]="pe.consoleLog" title="Log">
          <mat-icon>analytics</mat-icon>
        </a>
        <a mat-icon-button *ngIf="pe.machine" [href]="pe.machine" title="Machine">
          <mat-icon>desktop_windows</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
