.project-settings {
  .settings-section {
    margin-top: 1em;
    margin-bottom: 1em;

    .settings-expansion-header {
      position: absolute;
      right: 0px;
      top: 0px;
    }

    .settings-field {
      width: 100%
    }
  }
}
