.session-detail {
  margin-left: 30px;
  font-size: 13px;
}

.statusFailed {
  color: red;
}

@keyframes colorInProgress {
  0% {
    color: dodgerblue;
  }

  50% {
    color: yellow;
  }

  100% {
    color: dodgerblue;
  }
}

.statusInProgress {
  animation-name: colorInProgress;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.statusInQueue {
  color: white;
}

.statusSuccess {
  color: lawngreen;
}

.statusCanceled {
  color: grey;
}

.button-bar {
  float: right;
  padding: 8px;
}
