.session-detail {
  margin-left: 30px;
  font-size: 13px;
}

.statusFailed {
  background-color: rgb(255, 63, 63);
}

@keyframes colorInProgress {
  0%   { background-color: rgb(63, 63, 255);    }
  50%  { background-color: rgb(250, 250, 255);  }
  100% { background-color: rgb(63, 63, 255);    }
}

.statusInProgress {
  animation-name: colorInProgress;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.statusInProgress {
  animation-name: colorInProgress;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.statusInQueue {
  color: white;
}

.statusSuccess {
  background-color: rgb(31, 191, 31);
}

.statusCanceled {
  color: grey;
}

.button-bar {
  float: right;
  padding: 8px;
}
