.session-detail {
  margin-left: 30px;
  font-size: 13px;
}

.statusFailed {
  color: red;
}

.statusInProgress {
  color: darkgrey;
}

.statusInQueue {
  color: white;
}

.statusSuccess {
  color: lawngreen;
}
