<li *ngIf="item.routerLink" class="nav-item">
    <a class="nav-link" sidebarItemActive="active" [sidebarItem]="item" [routerLink]="item.routerLink">
        <i [ngClass]="item.iconClass"></i> {{item.name}}
    </a>
</li>
<li *ngIf="item.children" class="nav-item nav-dropdown" sidebarItemActive="open" [sidebarItem]="item">
    <a class="nav-link nav-dropdown-toggle" href="#">
        <i [ngClass]="item.iconClass"></i> {{item.name}}
    </a>
    <ul class="nav-dropdown-items">
        <ng-template ngFor let-childItem [ngForOf]="item.children">
            <sidebar-item [item]="childItem"></sidebar-item>
        </ng-template>
    </ul>
</li>
