<!--<navbar></navbar>-->
<sidebar-menu [items]="sidebarItems"></sidebar-menu>
<!-- Main content -->
<main class="main">
  <!-- Breadcrumb -->
  <ol class="breadcrumb">
    <breadcrumbs></breadcrumbs>
  </ol>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  <!-- /.conainer-fluid -->
</main>

<!--<footer class="footer">
  <span class="text-left">
    <a href="https://duststream.azurewebsites.net/">Dust Stream</a> &copy; 2020.
  </span>
  <span class="float-xs-right">
    Powered by <a href="https://duststream.azurewebsites.net/">Dust Particle</a>
  </span>
</footer>-->
