<table class="table table-striped" border="1">
  <caption *ngIf="caption">{{ caption }}</caption>
  <thead>
    <tr *ngFor="let headerGroup of tieredHeaders; let i = index">
      <th *ngIf="i != (tieredHeaders.length - 1)" [attr.colspan]="headers.length"></th>
      <ng-container *ngIf="i == (tieredHeaders.length - 1)">
        <th *ngFor="let header of headers" scope="col" sortable="name" (sort)="onSort($event)">{{ header }}</th>
      </ng-container>
      <th scope="row">{{ getTieredHeaderLabel(i) }}</th>
      <th scope="col" *ngFor="let header of getExpandedTieredHeaders(i)" [attr.colspan]="getTieredHeaderColspan(i)">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records; let recordIndex = index">
      <td *ngFor="let value of record.nontiered">{{ value }}</td>
      <td bgcolor="#000000"></td>
      <td *ngFor="let value of record.tiered; let valueIndex = index" [attr.bgcolor]="getRecordCellColor(recordIndex, valueIndex)">{{ value }}</td>
    </tr>
  </tbody>
</table>

